<?xml version="1.0"?>

<PropertyList>
	<sim>
		<addons>
			<ambient-editor>
		  		<name>ambient_editor</name>
		  		<version type= "double">0.3</version>
		  		<authors>BR-RVD</authors>
		  		<description>Change your FlightGear color schemes. Let it better for you!</description>
		  		<changelog>#first_release</changelog>
		  	</ambient-editor>
	  	</addons>
	</sim>
</PropertyList>